@font-face {
  font-family: 'CamphorStd-Medium';
  src: local('CamphorStd-Medium'),
    url(../assets/fonts/CamphorStd-Medium.woff) format('woff');
}
@font-face {
  font-family: 'CamphorStd-Thin';
  src: local('CamphorStd-Thin'),
    url(../assets/fonts/CamphorStd-Thin.woff) format('woff');
}
@font-face {
  font-family: 'CamphorStd-Heavy';
  src: local('CamphorStd-Heavy'),
    url(../assets/fonts/CamphorStd-Heavy.woff) format('woff');
}
@font-face {
  font-family: 'CamphorStd-Light';
  src: local('CamphorStd-Light'),
    url(../assets/fonts/CamphorStd-Light.woff) format('woff');
}
@font-face {
  font-family: 'CamphorStd-Regular';
  src: local('CamphorStd-Regular'),
    url(../assets/fonts/CamphorStd-Regular.woff) format('woff');
}
@font-face {
  font-family: 'CamphorStd-Bold';
  src: local('CamphorStd-Bold'),
    url(../assets/fonts/CamphorStd-Bold.woff) format('woff');
}
