:root {
  --menu-out-transition-time: 0.15s;
  --menu-in-transition-time: 0.35s;
}
/* purgecss start ignore */
.headroom {
  background-color: transparent;
  will-change: transform;
  top: 0;
  left: 0;
  right: 0;
  zindex: 1;
  transition: background-color 200ms ease-in-out;
}
.headroom--unfixed {
  position: absolute !important;
}
.headroom--scrolled {
  background-color: var(--c-porcelain);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 15px 1px;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
.headroom-wrapper {
  position: relative;
  z-index: 3000;
  height: 0 !important;

  @screen sm-only {
    display: flex;
    flex-direction: column;
    bottom: 0;
    pointer-events: none;
  }
}

.header-bar {
  @screen sm-only {
    pointer-events: all;
    transition: background-color var(--menu-out-transition-time),
      color var(--menu-out-transition-time);

    .menu-is-open & {
      transition: background-color var(--menu-in-transition-time),
        color var(--menu-in-transition-time);
    }
  }
}

.header-logo {
  max-width: 189px;
  color: var(--c-black);

  .theme-dark & {
    color: var(--c-white);

    &:hover {
      color: var(--c-white);
    }
  }

  .headroom--scrolled & {
    color: var(--c-black);

    &:hover {
      color: var(--c-black);
    }
  }

  .menu-is-open & {
    color: var(--c-black);
  }

  &:hover,
  &:active {
    color: currentColor;
  }

  @screen lg {
    max-width: 246px;
  }
}
/* purgecss end ignore */

.header-menuButton {
  @extend .button--clean;
  color: currentColor;
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
  }
}
.header-menuButton-line {
  position: absolute;
  height: 2px;
  background-color: currentColor;
  width: 100%;
  left: 0;
  transform-origin: center;
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0.25s;
  will-change: transform, background-color;

  .theme-dark & {
    background-color: var(--c-white);
  }

  .menu-is-open & {
    background-color: var(--c-black);
  }
}

.header-menuButton-lineInterior {
  top: 50%;
  margin-top: -1px;

  .isActive & {
    transform: rotate(45deg);
  }
}

.header-menuButton-lineInterior-2 {
  .isActive & {
    transform: rotate(-45deg);
  }
}

.header-menuButton-lineExterior {
  .isActive & {
    transform: scaleX(0);
  }
}
.header-menuButton-line:nth-child(1) {
  top: 0;
}
.header-menuButton-line:nth-child(4) {
  bottom: 0;
}

.header-nav {
  /* background-color: var(--c-white); */

  @screen md-max {
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: -1;
    background-color: var(--c-white);
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;

    transition: opacity var(--menu-out-transition-time),
      visibility var(--menu-out-transition-time);

    .menu-is-open & {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
      transition: opacity var(--menu-in-transition-time),
        visibility var(--menu-in-transition-time);
    }

    & > .container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    ul {
      width: 100%;
      padding: var(--unit-d);
      display: flex;
      flex-direction: column;
    }
  }

  @screen lg {
    ul {
      margin-left: calc(var(--unit-4) * -1);
    }
  }
}

/* make breakpoints */

.header-nav-item {
  @screen lg {
    &:first-child .header-nav-item-icon {
      display: none;
    }

    &:not(:last-child) .link--nav {
      position: relative;

      &:after {
        content: '|';
        font-size: inherit;
        color: #c6c5c5;
        position: absolute;
        right: -4px;
      }
    }
  }
}

.header-nav-item .link--nav {
  display: flex;
  align-items: center;

  @screen lg {
    justify-content: center;
  }
}

.header-nav-item > a {
  color: var(--c-black);

  @screen lg {
    border-bottom: 4px solid transparent;
    transition: border-color 0.5s, color 0.2s ease-in-out;
  }

  &.link--active {
    @screen lg {
      border-bottom-color: var(--c-brand);
    }
  }

  .theme-dark & {
    color: var(--c-white);
  }
  /* purgecss start ignore */
  .headroom--scrolled & {
    color: var(--c-black);
  }

  .menu-is-open & {
    display: block;
    color: var(--c-black);
    padding: var(--unit-e) 0;

    &.link--active {
      color: var(--c-seaGreen);
    }
  }
  /* purgecss end ignore */
}

.header-nav-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  height: 34px;
  width: 34px;
  margin-right: var(--unit-4);

  @screen lg {
    margin-right: var(--unit-2);
  }
}
