/* purgecss start ignore */
.page-careers {
  .hero {
    min-height: 100vh;
    padding-top: 125vw;

    @screen md {
      padding-top: 95vw;
    }

    @screen lg {
      min-height: 700px;
      padding-top: 0;
      height: 90vh;
    }
  }
}
/* purgecss end ignore */
