.page-home {
  .hero {
    height: 100vh;

    @screen lg {
      height: 97vh;
    }
  }

  .blockquote {
    @apply my-g;
  }

  .home-cta {
    @screen sm-only {
      display: flex;
      flex-direction: column;

      > div:last-child {
        order: -1;
        margin-bottom: var(--unit-d);
      }
    }
  }
}
