/* purgecss start ignore */
.page-home {
  .hero {
    height: 100vh;
    max-height: 680px;

    @screen md {
      max-height: none;
    }

    @screen lg {
      height: 90vh;
    }
  }

  .home-cta {
    > div:last-child {
      order: -1;
      margin-bottom: var(--unit-e);
    }

    .cta-copy {
      margin-bottom: 0;
    }

    @screen sm-only {
      display: flex;
      flex-direction: column;
    }
  }
}
/* purgecss end ignore */
